/node_modules
/public/hot
/public/vendor
/public/storage
/public/tenantabma
/public/tenant
/public/tenantabmasoft
/storage/*.key
/storage/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
composer.lock

.idea/
package-lock.json
/public/vendor/*.js
