@tailwind base;

@tailwind components;

@tailwind utilities;


@layer components {
    .navigation .nav-item a {
        @apply flex items-center space-x-2 py-2;
    }
    .navigation ul.menu-content {
    	@apply pl-3;
    }
    .navigation li.has-sub > a {
    	@apply relative;
    }
    .field-label {
        @apply block text-gray-900;
    }

    .label-text {
        @apply leading-none block mb-2 font-normal;
    }

    .input-field {
        @apply placeholder-gray-500 leading-none text-gray-800 rounded w-full py-2 px-2 border border-gray-600 transition focus:outline-none focus:ring-0;
    }
}

.navigation li a svg {
	fill: #6E6B7B;
}

.navigation li a svg.fill-none,
.navigation li a svg.fill-none-tenants-svg-icon {
	fill: none;
	stroke: #6E6B7B;
}

.navigation li.has-sub > a:after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%236e6b7b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.1rem;
  height: 1.1rem;
  width: 1.1rem;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 14px;
  transform: rotate(0deg);
  transition: all 0.2s ease-out;
}