@tailwind base;

@tailwind components;

@tailwind utilities;


@layer components {
    .navigation .nav-item a {
        @apply flex items-center space-x-2 py-2;
    }
    .navigation ul.menu-content {
    	@apply pl-3 hidden;
    }
}

.navigation li a svg {
	fill: #6E6B7B;
}

.navigation li a svg.fill-none {
	fill: none;
	stroke: #6E6B7B;
}