.btn {
	transition: none;
	padding: 0.5rem 1.5rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn-sm {
	padding: 0.25rem 1rem;
}

.btn-outline-dark {
	.fill-current {
		fill: black;
	}
}

.btn-has-icon {
	gap: 0.5rem;
}