.choose-portal-colors {
	label {
		margin: 0;
	}
	.choosen-color {
		border-radius: 100px;
		width: 2rem;
		height: 2rem;
		background-color: $primary;
		width: 10rem;
	}
	.choosen-color {
		border-radius: 100px;
		width: 1.875rem;
		height: 1.875rem;
		margin-right: 1rem;
		&.choosen-default-color {
			background-color: $primary;
		}
		&.choosen-foreground-color {
			background-color: #000;
		}
	}
}

.form-label {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
}

.col-form-label {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	color: #000000;
	font-size: 1.25rem;
}

.form-check-label {
	font-weight: 600;
}

.form-label-sm {
	font-family: 'Poppins', sans-serif;
	font-size: 0.9375rem;
	color: #000;
	margin-bottom: 0.25rem;
	font-weight: 500;
}

.form-label-base {
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	color: #000;
	display: flex;
	align-self: center;
	gap: 0.25rem;
}

.form-check {
	padding-left: 1.75rem;
	margin-bottom: 0.5rem;
	.form-check-input {
		margin-left: -1.75rem;
	}
	.form-check-label-sm {
		font-size: 0.8125rem;
	}
}

.form-check-label {
	font-family: 'Poppins', sans-serif;
	font-size: 0.9375rem;
	font-weight: 500;
}

.form-check-input[type="radio"], .form-check-input[type="checkbox"] {
	border-width: 2px;
	margin-top: 0.15rem;
}

.form-check-input {
	width: 1.25rem;
	height: 1.25rem;
	&:checked[type="checkbox"] {
		background-image: url("data:image/svg+xml;charset=utf8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.5 7.5'%3e%3cpolyline points='0.75 4.35 4.18 6.75 8.75 0.75' style='fill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px'/%3e%3c/svg%3e");
	}
}

.form-switch {
  padding-left: 2.5em;
  .form-check-label {
  	font-size: 0.8125rem;
  }
	.form-check-input {
		margin-left: -2.5rem;
		+ label + label {
  		display: none;
  	}
		&:checked {
	    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
	    + label {
	  		display: none;
	  	}
	    + label + label {
	  		display: block;
	  	}
		}
	}
}

.form-switch-column {
	display: flex;
	flex-direction: column;
	padding: 0;
	min-width: 4rem;
	.form-check-input {
		margin: 0 auto 0.25rem;
	}
	.form-check-label {
		text-align: center;
		line-height: 1;
	}
}

.form-control {
	padding: .7625rem 0.75rem;
}

.form-control-md {
	padding: 0.5125rem 0.5rem;
	font-size: 0.8125rem;
	line-height: 1;
}

.form-control-sm {
	padding: 0.25rem 0.5rem;
}

.form-control-xs {
	padding: 0.125rem 0.5rem;
	font-size: 0.8125rem;
}

.form-select {
	background-image: url("data:image/svg+xml,%3Csvg width='21' height='10' viewBox='0 0 21 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.796875L10.3333 9.98199L20.6665 0.796875L0 0.796875Z' fill='%236E6B7B'/%3E%3C/svg%3E");
	padding: .7625rem 3.25rem .7625rem .75rem;
	background-size: 20px 10px;
	background-position: right 1.5rem center;
	font-size: 1rem;
	&.bg-secondary {
	background-image: url("data:image/svg+xml,%3Csvg width='152' height='30' viewBox='0 0 152 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.0898438' width='151' height='30' fill='url(%23paint0_linear_2705_102006)'/%3E%3Crect x='0.0898438' width='151' height='30' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M119.09 12L126.09 18.2222L133.09 12H119.09Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2705_102006' x1='75.5898' y1='0' x2='126.552' y2='0' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%236A6A6A'/%3E%3Cstop offset='1' stop-color='%237E7E7F' stop-opacity='0.7'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-size: 108%;
    background-position: 0 50%;
    padding: 0.5rem 4rem 0.5rem 1rem;
    background-color: transparent !important;
    color: #ffffff;
	}
	&.rounded {
    border-radius: 100px !important;
	}
}

.form-select.form-select-sm,
.form-select-sm {
	padding: 0.25rem 1.5rem 0.25rem 0.5rem;
	background-size: 10px 5px;
	background-position: right 0.5rem center;
	font-size: 0.8125rem;
	&.bg-secondary {
		padding: 0.584rem 2.5rem 0.504rem 1rem;
		font-size: 0.6875rem;
		background: url("data:image/svg+xml,%3Csvg width='152' height='30' viewBox='0 0 152 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.0898438' width='151' height='30' fill='url(%23paint0_linear_2705_102006)'/%3E%3Crect x='0.0898438' width='151' height='30' fill='black' fill-opacity='0.2'/%3E%3Cpath d='M119.09 12L126.09 18.2222L133.09 12H119.09Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2705_102006' x1='75.5898' y1='0' x2='126.552' y2='0' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%236A6A6A'/%3E%3Cstop offset='1' stop-color='%237E7E7F' stop-opacity='0.7'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") no-repeat center;
    background-size: cover;
    background-position: 80% 0;
    border-radius: 100px !important;
    background-color: transparent !important;
    color: #ffffff;
    line-height: 1;
	}
}

.form-select.form-select-md,
.form-select-md {
	padding: 0.435rem 2rem 0.435rem 1rem;
	background-size: 10px 5px;
	background-position: right 1rem center;
	font-size: 0.9375rem;
}

.form-control, .form-select {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}


.form-label-highlighted {
	margin-bottom: 1rem;
}

.form-check-highlighted {
	position: relative;
	padding-left: 0;
	display: flex;
	align-items: center;
	.form-check-input {
		margin-left: 0.9375rem;
		margin-right: 0.9375rem;
		float: none;
		margin-top: 0;
		+ label {
			padding: 0.5rem 0.9375rem 0.5rem 0;
			&:before {
				content: '';
				position: absolute;
				border-radius: 0.325rem;
				border: 1px solid transparent;
				left: 0rem;
				top: 0;
				right: 0;
				bottom: 0;
			}
		}
	}
	.form-check-input:checked + label {
		color: $actual_blue;
		&:before {
			border-color: $primary;
		}
	}
}

.multi-select-dropdown {
	.options-container {
		max-height: 16rem;
	}
}

select.form-control {
	padding: .7625rem 3.25rem .7625rem .75rem;
	background-image: url("data:image/svg+xml,%3Csvg width='21' height='10' viewBox='0 0 21 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.796875L10.3333 9.98199L20.6665 0.796875L0 0.796875Z' fill='%236E6B7B'/%3E%3C/svg%3E");
}