@import 'variables';
@import 'forms';
@import 'buttons';

html, body {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
}

.breadcrumb {
	font-family: 'Poppins', sans-serif;
}

.font-family-secondary {
	font-family: 'Poppins', sans-serif;	
}

.font-family-tertiary {
	font-family: 'Inter', sans-serif;
}


@media (min-width: 1200px) {
	h1 {
		font-size: 1.875rem;
	}

	h2 {
		font-size: 1.625rem;
		margin-bottom: 1rem;
	}

	h3 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
	h4 {
		font-size: 1.375rem;
	}	
}


.auth-wrapper {
	min-height: 100vh;
	overflow-y: auto;
	.brand-logo {
	  position: absolute;
	  top: 2rem;
	  left: 2rem;
	  right: 0;
	  width: auto;
	  margin: 0;
	  z-index: 1;
	  justify-content: unset;
	}
	h1 {
		font-size: 1.5rem;
	}
}


@media (max-width: 575.98px) {
  .auth-wrapper .brand-logo {
    left: 1.5rem;
    padding-left: 0; }
}

.scroll-top {
  position: fixed;
  bottom: 5%;
  right: 30px;
  display: none;
  z-index: 99;
}

.form-actions {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.navigation.navbar-nav .dropdown-menu {
	position: absolute !important;
	transform: none !important;
	border: none;
	transition: all 0.2s ease-in-out !important;
	display: block !important;
	visibility: hidden;
	transform: translate(-100%, 0) !important;
	opacity: 0;
	&.show {
		position: static !important;
		visibility: visible;
		transform: translate(0%, 0) !important;
		opacity: 1;
	}
}

.navigation li a {
	font-family: 'Poppins', sans-serif;
}

.navbar-nav.navigation li {
	padding: 0 0.75rem;
	.nav-link,
	a {
		color: #5E5873;
		padding: 0.5rem 1rem 0.5rem 2.5rem;
		border-radius: 0.25rem;
		&.dropdown-toggle::after {
			content: "";
		  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
		  background-repeat: no-repeat;
		  background-position: center;
		  background-size: 1.1rem;
		  height: 1.1rem;
		  width: 1.1rem;
		  display: inline-block;
		  position: absolute;
		  right: 0.5rem;
		  top: 0.75rem;
		  transform: rotate(0deg);
		  transition: all 0.2s ease-out;
		  border: none;
		}
		svg {
			fill: #6E6B7B;
			position: absolute;
			left: 1.5rem;
			top: 0.75rem;
		}
		&.active {
			background: linear-gradient(90deg, #213969 50%, #204387 90.12%);
			color: #fff;
			svg {
				fill: #fff;
			}
		}
	}
	a.dropdown-toggle[aria-expanded="true"]::after {
  	transform: rotate(90deg);
  }
	ul > li a {
		padding-left: 2.75rem;
		&.dropdown-toggle::after {
			right: 0;
		}
	}
}

.navigation li a > * {
  transition: transform 0.25s ease;
}

.navigation li {
	> ul {
		padding: 0 0.5rem;
		> ul {
			padding: 0 0.5rem;
		}
	}
}

.nav-tabs.nav-steps {
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	li.nav-item {
		margin-right: 1rem;
		&:after {
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.305919 0.308162C0.110039 0.505537 0 0.773199 0 1.05229C0 1.33138 0.110039 1.59904 0.305919 1.79641L5.47795 7.00635L0.305919 12.2163C0.115591 12.4148 0.0102748 12.6807 0.0126554 12.9566C0.015036 13.2326 0.124922 13.4966 0.318647 13.6917C0.512371 13.8869 0.774433 13.9976 1.04839 14C1.32235 14.0024 1.58628 13.8963 1.78334 13.7045L7.69408 7.75048C7.88996 7.55311 8 7.28544 8 7.00635C8 6.72727 7.88996 6.4596 7.69408 6.26223L1.78334 0.308162C1.5874 0.110846 1.32169 0 1.04463 0C0.767573 0 0.501858 0.110846 0.305919 0.308162Z' fill='%23979797'/%3E%3C/svg%3E");
			    width: 1rem;
			    height: 1rem;
			    display: inline-block;
			    background-repeat: no-repeat;
			    position: absolute;
			    right: 0;
			    top: 0.9rem;
		}
		&:last-child {
			margin-right: 0;
			&:after {
				background-image: none;
			}
		}
		.nav-link {
		font-family: 'Inter', sans-serif;
		position: relative;
		padding-left: 3rem;
		padding-right: 3rem;
		border: none;
		color: #6e6b7b;
		font-weight: 400;
		font-size: 1.125rem;
		margin-bottom: 1rem;
		.number {
			font-family: 'Poppins', sans-serif;
				background-color: #f7f7f8;
				color: #6d727a;
				position: absolute;
				left: 0rem;
				width: 2.5rem;
				height: 2.5rem;
				display: inline-flex;
		    justify-content: center;
		    align-items: center;
		    border-radius: 0.25rem;
		    font-size: 1.5rem;
		    font-weight: 400;
			}
			&.active {
				color: $actual_blue;
			}
		}
		&:has(.nav-link.active) {
			.number {
				background-color: $primary;
				color: #fff;
			}
		}
	}
}

.helping-labels {
	.label-color {
		display: inline-block;
		border-radius: 100px;
		width: 1.5rem;
		height: 1.5rem;
		margin-right: 0.5rem;
	}
}

.table {
	&.table-schedule {
		thead th {
			background-color: #fff !important;
			color: #212529 !important;
		}
		tbody {
			td {
				font-size: 0.75rem;
				padding: 1.5rem 0 3rem !important;
				.time-slot {
					padding: 0.5rem;
				}
			}
		}
	}
	&.table-fs-md {
		th, td {
			font-size: 0.8125rem;
		}
	}
}

.table {
	tr.selected {
		background: $theme_gradient;
		th, td {
			background: none;
			color: #ffffff;
		}
	}
}

.table-hover tbody tr {
	th, td {
		-webkit-transition: all 0.1s linear;  
		-moz-transition: all 0.1s linear;  
		-o-transition: all 0.1s linear;  
		transition: all 0.1s linear;
	}
	&:hover svg {
		stroke: none;
	}
}

.btn.btn-hs-icon svg {
	width: 1rem;
}

.icon-date {
	position: absolute;
	top: 1rem;
	right: 1rem;
	&.sm {
		    width: 0.875rem;
    top: 0.325rem;
    right: 0.75rem;
	}
}

.cursor-pointer {
	cursor: pointer;
}

.daterangepicker {
	background-color: #F5F5F5;
	border-radius: 0.5rem;
	.calendar-table {
		background-color: #F5F5F5;
		table {
			border-spacing: 2px;
    border-collapse: separate;
		}
	}
	select.monthselect, select.yearselect, select.hourselect, select.minuteselect, select.ampmselect {
		border: 1px solid #fff;
		border-radius: 0.25rem;
		padding: 6.6px 1px;
		background-color: #ffffff;
		&:hover {
			border-color: $primary;
		}
	}
	td.month {
		background-color: #F5F5F5;
	}
	td.available, th.available {
		transition: all 0.15s ease-in-out;
		background-color: #ffffff;
		border: 1px solid #fff;
		&:hover {
			background-color: #ffffff;
		}
	}
	td.available {
		border: 1px solid #fff;
		&:hover {
			border-color: $primary;
		}
	}
	td.off.ends {
		background-color: #F5F5F5;
	}
	th {
		&.prev.available,
		&.next.available {
			border-radius: 100px;
			border: 1px solid #fff;
			&:hover {
				border-color: $primary;
			}
			&.prev.available {
				span {
					margin-left: 3px;
				}
			}
			&.next.available {
				span {
					margin-right: 3px;
				}
			}
		}
	}
	td.active {
		transition: none;
		border-color: transparent;
	  background: linear-gradient(90deg, #213969 50%, #204387 90.12%);
	  color: #fff;
	  &:hover {
		  background: #204387;
		  border-color: #204387;
		}
	}
	.drp-buttons .btn:hover {
		border-color: $primary;
	}
}

.icon-arrow-right {
	width: 1rem;
}

div[data-bs-toggle="collapse"] {
	.icon-arrow-right {
		transition: all 0.2s ease-in-out;
	}
	&[aria-expanded="true"] .icon-arrow-right {
		transform: rotate(90deg);
	}
}

.accordion-button {
	padding-right: 3rem;
	cursor: pointer;
	&::after {
		position: absolute;
		right: 1rem;
	}
}

.tab-pane {
    animation-duration: 0.45s;
    -webkit-animation-duration: 0.45s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}
@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.offcanvas {
	&.offcanvas-end {
	    display: flex !important;
	    transition-duration: 0.5s;
	    opacity: 1 !important;
	    visibility: visible !important;
	    &.show {
	    	transform: translateX(0%) !important;
	    }
	}
}

.offcanvas-backdrop[x-show="offcanvasOpen"] {
	display: flex !important;
	visibility: hidden;
	opacity: 0 !important;
	transition: all 0.3s ease-in-out;
	&.show {
		visibility: visible;
		opacity: 0.5 !important;
	}
}

[x-cloak] {
  display: none;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #333;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.header-navbar {
	font-family: 'Poppins', sans-serif;
	margin-bottom: 2rem;
}


.table {
	font-family: 'Poppins', sans-serif;
	th {
		font-weight: 600;
	}
}

.input-group {
	font-family: 'Poppins', sans-serif;
}

.header-navbar.floating-nav {
	@media (min-width: 1199px) {
		position: absolute;
	}
}

.dashborad-block, a.dashborad-block {
	background: linear-gradient(90deg, #213969 50%, #204387 90.12%);
	border: 2px solid transparent;
	border-radius: 0.5rem;
	color: #fff;
	padding: 2rem 0;
	cursor: pointer;
	height: 12.3675rem;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.1s linear;  
    -moz-transition: all 0.1s linear;  
    -o-transition: all 0.1s linear;  
    transition: all 0.1s linear;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #ffffff;
		border-radius: 0.5rem;
		opacity: 0;
		-webkit-transition: all 0.1s linear;  
    -moz-transition: all 0.1s linear;  
    -o-transition: all 0.1s linear;  
    transition: all 0.1s linear;
	}
	svg {
		-webkit-transition: all 0.1s linear;  
    -moz-transition: all 0.1s linear;  
    -o-transition: all 0.1s linear;  
    transition: all 0.1s linear;
    &.icon-availability {
    	    width: 22rem;
		    height: 18rem;
		    left: -3rem;
		    top: -4rem;
		    margin: -6.8rem;
    	}
		&.stroke {
			stroke: #fff !important;
		}
		&.fill {
			fill: #fff !important;
		}
	}
	.block-text {
		position: relative;
		z-index: 1;
		font-family: 'Inter', sans-serif;
		font-size: 1.375rem;
		line-height: 1;
		font-weight: 500;
		margin-bottom: 1rem;
		-webkit-transition: all 0.1s linear;  
    -moz-transition: all 0.1s linear;  
    -o-transition: all 0.1s linear;  
    transition: all 0.1s linear;
	}
	.block-icon {
		position: relative;
		z-index: 1;
		margin-bottom: 1rem;
	}
	.block-number {
		position: relative;
		z-index: 1;
		font-family: 'Inter', sans-serif;
		font-size: 1.125rem;
		line-height: 1;
		font-weight: 500;
		-webkit-transition: all 0.1s linear;  
    -moz-transition: all 0.1s linear;  
    -o-transition: all 0.1s linear;  
    transition: all 0.1s linear;
	}
	&:hover {
		border-color: $primary;
		color: $primary;
		&:before {
			opacity: 1;
		}
		svg {
			&.stroke {
				stroke: $primary !important;
			}
			&.fill {
				fill: $primary !important;
			}
		}
	}
}

.grid-cols-6 {
   grid-template-columns: repeat(6,minmax(0,1fr));
}

.grid-cols-3 {
   grid-template-columns: repeat(3,minmax(0,1fr));
}

.grid-cols-2 {
   grid-template-columns: repeat(2,minmax(0,1fr));
}

.text-primary {
	color: $actual_blue !important;
}

small {
	font-size: 0.75rem;
}

.hidden-content {
	display: none;
}

.show-hidden-content {
	&:checked + {
		.hidden-content {
			display: block;
		}
	}
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentcolor;
}

.border-dotted {
	border-style: dotted;
}

.border-dashed {
	border-style: dashed;
	border-width: 1px;
}

.duplicate-block {
	border: 1px dashed;
	padding: 1rem;
	border-radius: 0.5rem;
}

.time {
	.hours, .mins {
		border: 1px solid $primary;
		color: $primary;
		border-radius: 0.25rem;
		height: 1.6875rem;
		width: 2.0625rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}


.tabular-nums {
	.title {
		font-family: 'Inter', sans-serif;
		color: $actual_blue;
		font-weight: 500;
		font-size: 0.9375rem;
		margin-bottom: 1rem;
	}
	.label {
		font-family: 'Poppins', sans-serif;
		font-size: 0.8125rem;
		color: #000000;
	}
	.date {
		font-family: 'Poppins', sans-serif;
		font-size: 0.8125rem;
		color: #000000;
	}
}

.bg-gray {
	background: #D9D9D9;
}

.tag {
	border: 1px solid #aaa;
	padding: 0.25rem;
	border-radius: 0.25rem;
	color: $actual_blue;
	font-size: 0.9375rem;
}

.leading-none {
	line-height: 1;
}

.dropdown-menu {
	background: #EDEDED;
	border-color: #EDEDED;
	.dropdown-item {
		color: $primary;
		&:hover {
			color: #ffffff;
		}
	}
}

.fill-warning {
	fill: 	rgba(255, 193, 7, 1)
}

.badge.bg-warning {
	color: #4E4E4E;
	font-size: 0.75rem;
		font-family: 'Poppins', sans-serif;
		font-weight: 400;
		border: 1px solid #EAC76C;
		background: linear-gradient(0deg, #EAC76C, #EAC76C),
linear-gradient(0deg, #FAEA95, #FAEA95);
}

.time-date {
	color: #4E4E4E;
}

.text-sm {
	font-size: 0.8125rem;
}

.power-grid-table {
	th {
		color: #ffffff !important;
		vertical-align: middle !important;
		.form-check {
			margin: 0;
			padding: 0;
		}
	}
}