.profile-pic-div {
    height: 145px;
    overflow: hidden;
    border-radius: 50%;
    width: 145px;
    border: 1px solid #ddd;
}

.profile-pic-div img {
    max-width: 100%
}

div .icon-arrow-right,
div .heading-arrow {
    transition: all 0.2s ease-in-out;
}

tr[data-bs-toggle="collapse"][aria-expanded="true"] .icon-arrow-right,
tr[data-bs-toggle="collapse"][aria-expanded="true"] .heading-arrow {
    transform: rotate(90deg);
}

div .icon-arrow-bottom,
div .heading-arrow {
    transition: all 0.2s ease-in-out;
}

tr[data-bs-toggle="collapse"][aria-expanded="true"] .icon-arrow-bottom,
tr[data-bs-toggle="collapse"][aria-expanded="true"] .heading-arrow {
    transform: rotate(180deg);
}

/* @media screen and (max-width: 400px) { */

li.page-item {

    display: none;
}

.page-item:first-child,
.page-item:nth-child(2),
.page-item:nth-last-child(2),
.page-item:nth-child(3),
.page-item:nth-last-child(3),
 .page-item:last-child,
.page-item.active,
.page-item.disabled {

    display: block;
}
.select2-selection__clear{
    display: none !important;
}

.select2-container--default .select2-search--inline .select2-search__field{
    padding: 0.4rem 0.75rem;
}

.assigned, .unassigned,.partially_assigned,.fully_assigned,.provider_running_late,.provider_checked-in,.information_document_request_pending,
.assigned .time-date, .unassigned .time-date,.partially_assigned .time-date,.fully_assigned .time-date,.provider_running_late .time-date,.provider_checked-in .time-date,.information_document_request_pending .time-date,
.assigned a, .unassigned a,.partially_assigned a,.fully_assigned a,.provider_running_late .time-date,.provider_checked-in a,.information_document_request_pending a{
    color:#fff !important;
}


.table-hover tbody tr td:hover .btn-outline-dark{

    border-color: #fff !important;
    color:#fff !important;
}

.time {
    .hours,
    .mins {
        width: 3rem;
    }
}

.popover .popover-header{
    border: none !important;
    font-size: medium;
}

.popover .popover-body{
    font-size: medium;
    background-color: #d4d4d4;
}

/* } */