.profile-pic-div {
    height: 145px;
    overflow: hidden;
    border-radius: 50%;
    width: 145px;
    border: 1px solid #ddd;
}

.profile-pic-div img {
    max-width: 100%
}

div .icon-arrow-right,
div .heading-arrow {
    transition: all 0.2s ease-in-out;
}

tr[data-bs-toggle="collapse"][aria-expanded="true"] .icon-arrow-right,
tr[data-bs-toggle="collapse"][aria-expanded="true"] .heading-arrow {
    transform: rotate(90deg);
}

div .icon-arrow-bottom,
div .heading-arrow {
    transition: all 0.2s ease-in-out;
}

tr[data-bs-toggle="collapse"][aria-expanded="true"] .icon-arrow-bottom,
tr[data-bs-toggle="collapse"][aria-expanded="true"] .heading-arrow {
    transform: rotate(180deg);
}

/* @media screen and (max-width: 400px) { */

li.page-item {

    display: none;
}

.page-item:first-child,
.page-item:nth-child(2),
.page-item:nth-last-child(2),
.page-item:nth-child(3),
.page-item:nth-last-child(3),
 .page-item:last-child,
.page-item.active,
.page-item.disabled {

    display: block;
}
.select2-selection__clear{
    display: none !important;
}

.select2-container--default .select2-search--inline .select2-search__field{
    padding: 0.4rem 0.75rem;
}

.assigned, .unassigned,.partially_assigned,.fully_assigned,.provider_running_late,.provider_checked-in,.information_document_request_pending,
.assigned .time-date, .unassigned .time-date,.partially_assigned .time-date,.fully_assigned .time-date,.provider_running_late .time-date,.provider_checked-in .time-date,.information_document_request_pending .time-date,
.assigned a, .unassigned a,.partially_assigned a,.fully_assigned a,.provider_running_late .time-date,.provider_checked-in a,.information_document_request_pending a{
    color:#fff !important;
}


.table-hover tbody tr td:hover .btn-outline-dark{

    border-color: #fff !important;
    color:#fff !important;
}

.time {
    .hours,
    .mins {
        width: 3rem;
    }
}

.popover .popover-header{
    border: none !important;
    font-size: medium;
}

.popover .popover-body{
    font-size: medium;
    background-color: #d4d4d4;
}

nav[aria-label="Page Navigation"]{
    overflow: auto;
}

/* #collapseDetails .accordion-item h2 .accordion-button::after{
    display: none !important;
} */

.custom-dropdown-btn{
    margin-top: 31px;
}

#accordionDetails .accordion-item{
    border: none !important ;
}

.custom-collapse{
    padding: 0 !important;
}
.custom-collapse th{
    background-color: gray !important;
}
.custom-collapse td{
    background-color: #F2F2F2 !important;
}
.custom-collapse > div {
    margin-bottom: -16px !important;    
}

.custom-dropdown-btn svg {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}

/* Rotate the SVG by 180 degrees when the button is in the "expanded" state */
.custom-dropdown-btn[aria-expanded="true"] svg {
    transform: rotate(180deg);
}
.selected-provider :has(.custom-dropdown-btn[aria-expanded="true"]) td{
    background-color: #F2F2F2 !important;
}
:has(.selected-provider) .table {
    
    --bs-table-hover-bg: inherit !important; 
    --bs-table-hover-color: inherit !important; 
}
:has(.selected-provider) .table-hover tbody [aria-label="Days"]{
    color:white !important;
}
:has(.selected-provider) label{
    display: inline !important;
}

.table-headers th{
    text-align: center !important;
}
