/* Style for the top background image */



/* Center the image in the left column (60%) */
.image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width:90%;
    padding-left:10%;
}

/* Style the login form in the right column (40%) */
.login-form {
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 650px;
    z-index: 300;
}


body {

}

@media (max-width: 767px) {
    .top-image {
        height: 200px; /* Adjust the height as needed for mobile screens */
    }

    .bottom-image {
        height: 200px; /* Adjust the height as needed for mobile screens */
    }

    .image-container {
        align-items: center; /* Center the content vertically */
    }
}

.box-area{
    width:100vw ;
    height: 100vh;
}
.custom-edit {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #000000;
  }
.custom-label{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.right-box{
    padding: 50px 40px 50px 50px;
    
}
.left-box img{
    width: 350px;
}
.custom-btn{
    background-color: #023DB0;
    border: none;
}
.custom-link{
    color: #023DB0;

}
@media only screen and (max-width: 768px){
    .left-box img{
        width: 200px;
    }
    .left-box{
        padding-top: 40px;
    }
    .right-box{
        margin-top: -35px;
    }
 
}

.featured-image{
    width: 80%;
 }  